@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: #01579b;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 30vw;
    height: 50px;
}

input{
    height: 30px;
}

textarea{
    min-height: 100px;
}

.tittle{
    color: #428e92;
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 2rem;
}

.container{
    margin-top: 0.5rem;
    background-color: #ffff;
    margin: 1rem;
}

.form_tittle{
    margin: 2rem 0;
    text-align: center;
}

.cont_Formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form{
    margin: 0 2rem;
    display: grid;
    grid-template-columns: minmax(250px,800px);
    grid-gap: 0.5rem;
}

.centrarBtn{
    display: flex;
    justify-content: center;
}

#fondo{
    background-color: antiquewhite;
}

.consultas{
    padding: 2rem;
}

.caja_title{
    margin-bottom: 20px;
}

.error{
    text-align: center;
    padding: 1rem;
    margin-bottom: 20px;
}